blockquote {
  margin-left: 20px;
  margin-right: 20px;
}

blockquote p {
  padding: 15px;
  border-radius: 5px;
}

blockquote::before {
  opacity: .8;
  content: '\f10d';
  font-family: FontAwesome, serif;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  padding-left: 8px;
  padding-right: 15px;
  float: left;
  text-decoration: inherit;
  color: $primary;
}

blockquote p::after {
}
