//$primary: #A58958;
//$primary: #CBB682;
//$primary: #A08C5B;
//$primary: #B88746;
//$primary: #D4AF37;
$primary: #D4A037;
$body-bg: #232628;
//$body-bg: #191919;
$body-color: white;
$secondary: #232628;

@import "node_modules/bootstrap/scss/bootstrap";
@import "blog.scss";
@import "switch.scss";

.item-card {
  background: #272929 !important;
}

.cursor-pointer {
  cursor: pointer;
}

