//$primary: #A58958;
//$primary: #CBB682;
//$primary: #A08C5B;
//$primary: #B88746;
//$primary: #D4AF37;
$primary: #D4A037;
$body-bg: #232628;
//$body-bg: #191919;
$body-color: white;
$secondary: rgba(0, 0, 0, 0.5);

.item-card {
  background: #272929 !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "blog.scss";
@import "switch.scss";
