$switch-color: rgba(255,255,255,0.4);
$switch-active-color: $primary;

.switch input {
  display: none;
}

.switch .slider {
  outline: 0;
  display: block;
  width: 45px;
  height: 25px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  transition: all 0.2s ease-in-out;
  border: 3px solid $switch-color;
  border-radius: 16px;
}

@media (prefers-reduced-motion: reduce) {
  .switch input+.slider {
    transition: none
  }
}

.switch input+.slider::-moz-selection {
  background: none
}

.switch .toggle+.slider::selection {
  background: none
}

.switch .toggle+.slider:after,.switch .toggle+.slider:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%
}

.switch .toggle+.slider:after {
  left: 0;
  transition: all 0.2s ease-in-out;
  background: $switch-color;
  content: "";
  border-radius: 16px
}

@media (prefers-reduced-motion: reduce) {
  .switch .toggle+.slider:after {
    transition: none
  }
}

.switch .toggle+.slider:before {
  display: none
}

.switch .toggle:checked+.slider {
  border: 3px solid $switch-active-color;
  background: rgba(0,0,0,0.2)
}

.switch .toggle:checked+.slider:after {
  left: 50%;
  background: $switch-active-color
}
